<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats, <%= @user.name %>!</h1>
    <p>
      You just bought an item! This is the BUYER's new sale email!
    </p>
  </body>
</html>