<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats, <%= @seller.name %>!</h1>
    <p>
Item: <%=@listing.item.name%> <br>
Final Sale Price: <%= @listing.current_price %><br>
Shipping Price: <%=number_to_currency(@listing.shipping_price / 100.0)%><br>


    </p>
  </body>
</html>