<!-- begin:slider -->
<div id="home">
  <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-slider" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="heads ">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="carousel-content">
                <h2 class="animated fadeInUpBig text-center text-black">Hello, <%=current_user.first_name%>!</h2>
                  <p class="animated rollIn text-black text-center"><span class="text900">Welcome to Ebae, the best auction site around!</span><br><br>
                    <a href="/listings/new" class="btn btn-black btn-lg">Create Listing</a>
                    <a href="/categories" class="btn btn-black btn-lg">Browse by Category</a>
                    <a href="/listings" class="btn btn-black btn-lg">View all Listings</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
<!-- end:slider -->
