<% bid_view_obj = BidViewObject.new(@listing, current_user) %>
<table class = "table table-striped table-bordered">
  <th>Start Price</th>
  <th>Current Price</th>
  <th>No. of Bids</th>
  <th>Highest Bidder</th>
  <tr>
    <td><%= number_to_currency(@listing.starting_price / 100.0) %></td>
    <td id="current-price"><%= number_to_currency(bid_view_obj.display_amt(@listing, @listing.current_price)) %></td>
    <td id="bid-size"><%= @listing.bids.size %></td>
    <td id="highest-bidder"><%= link_to @listing.highest_bidder.name, user_path(@listing.highest_bidder) if @listing.highest_bidder %></td>
  </tr>
</table>
