<table class = "table table-striped table-bordered">
  <th>Start Time</th>
  <th>End Time</th>
  <th>Time Left</th>
  <tr>
    <td><%= @listing.start_time %></td>
    <td><%= @listing.end_time %></td>
    <td><%= @listing.time_left %></td>
  </tr>
</table>
