<div class="row padd20-top-btm">
  <div class="col-md-12 t-center">

<h4>Description:<%= @listing.item.description %></h4>
<h4>Condition:<%= @listing.item.condition.description %></h4>
<p>

    <a href="<%=@listing.item.picture.url(:medium) %>" class="colorbox"><img src="<%=@listing.item.picture_to_use %>" ></a>
