<div class="row padd20-top-btm">
  <div class="col-md-12 t-center">
<% if @listing.active? %>
    <div  id = "watchlist-counter"><%=render partial: 'listings/watchlist_counter', locals: {listing: @listing, current_user: current_user, watchlist: @watchlist}%></div>
<% else %>
  <h4><i>This auction has ended.</i></h4>
<% end %>
  </div>
</div>

  <div id="watchlist-output" class=".col-md-8"></div>
