<% if listing.active? %>
  <% if listing.watchlists %>
    <h3>Watchlist: <%= listing.watchlist_total %> watchers</h3>
  <% end %>

  <% if Watchlist.already_watched?(current_user.id, listing.id) %>
    <% watchlist = Watchlist.find_by(buyer_id: current_user.id, listing_id: listing.id) %>
    <div class="form-group watch-buttons" id="<%= watchlist.id %>" data-no-turbolink>
      <button class="btn btn-black" id="unwatch-button">Unwatch</button>
    </div>
    <h4>You are currently watching this listing. Happy bidding!</h4>

  <% else %>
        <div class="form-group watch-buttons" id="<%= listing.id %>" data-no-turbolink>
          <button class="btn btn-black" id="watch-button">Watch this Item</button>
      </div>
  <% end %>
<% else %>
  <h4><i>This auction has ended.</i></h4>
<% end %>

