<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content=" responsive catalog themes built with twitter bootstrap">
    <meta name="keywords" content="responsive, catalog, cart, themes, twitter bootstrap, bootstrap">
    <meta name="author" content="afriq yasin ramadhan">
    <link rel="shortcut icon" href="img/favicon.png">


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

<% if current_user %>
<!-- begin:slider -->
<div id="home">
  <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-slider" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="heads ">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="carousel-content">
                <h2 class="animated fadeInUpBig text-center text-black">Hello, <%=current_user.first_name%>!</h2>
                  <p class="animated rollIn text-black text-center"><span class="text900">Welcome to Ebae, the best auction site around!</span><br><br>
                    <a href="/listings/new" class="btn btn-black btn-lg">Create Listing</a>
                    <a href="/categories" class="btn btn-black btn-lg">Browse by Category</a>
                    <a href="/listings" class="btn btn-black btn-lg">View all Listings</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
<!-- end:slider -->


<% else %>
    <!-- begin:slider -->
    <div id="home">
      <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="heads ">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content">
                    <h2 class="animated fadeInUpBig text-center text-black">Hello</h2>
                      <p class="animated rollIn text-black text-center"><span class="text900">Welcome to Ebae, the best auction site around!</span><br><br> <a href="/signup" class="btn btn-black btn-lg">Sign Up</a>
                      <br><br> <a href="/login" class="btn btn-black btn-lg">Log In</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
<% end %>
    <!-- end:slider -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="js/gmap3.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>
