<h1>Search Results</h1>
<h2>You searched for:</h2>
<ul>
  <% attributes.each do |attribute, val| %>
    <% attribute = attribute.gsub("min_price", "Minimum Price").gsub("max_price", "Maximum Price").gsub("keywords", "Keywords").gsub("completed", "Completed") %>

    <% if val %>
      <li><h3><%= attribute %>: <%= val.is_a?(Integer) ? number_to_currency(val / 100.0) : val %></h3></li>
    <% end %>
  <% end %>

  <% if category %>
    <li><h3>Category: <%= category.name %></h3></li>
  <% end %>
</ul>