<div id="search-results">

  <%= render partial: 'search_parameters_overview', locals: {attributes: @attributes, category: @category} %>

   <%= render partial: 'search_results', locals: {results: @results} %>
</div>
