<div id="search-results">
  <h1>Search Results</h1>

  <ul>
  <% @results.each do |listing| %>
    <li>
    Item: <%= link_to listing.item.name, listing %>
    <br>
    Starting Price: <%= number_to_currency(listing.starting_price/ 100.0) %>
    <br>
    Current Price <%= listing.current_price ? number_to_currency(listing.current_price / 100.0) : number_to_currency(0) %>
    <br>
  </li>
  <% end %>
</ul>
</div>