<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @watcher.name %>!</h1>
    <h3>Bidding for <%= @listing.item.name %> ends at <%= @listing.end_time %>.</h3>
    <p>
    Don't miss out!
    </p>
  </body>
</html>