// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recently-viewed-listing {
  float:left;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

th {
  text-align: center;
}

.dashboard-section > div {
  display: none;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
