<!-- begin:heading -->
<div class="heads">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>//</span> Browse Categories</h2>
      </div>
    </div>
  </div>
</div>
<!-- end:heading -->

<div id="view-listings-by-category" class="container">
  <div id="menu" class=".col-md-4">
    <ul id="categories-menu">
      <%@categories.each do |category|%>
          <li><button class="btn btn-black category-btn" id="<%= category.id %>"><%=category.name%></button></li>
      <%end%>
    </ul>
  </div>


  <div id="show-category-items-js" class=".col-md-8"></div>
</div>
