<!-- begin:heading -->
<div class="heads">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>//</span> Browse Categories</h2>
      </div>
    </div>
  </div>
</div>
<!-- end:heading -->


<%@categories.each do |category|%>
<section>
  <div class="row padd20-top-btm">
    <div class="col-md-12 text-center">
      <button class="btn btn-black category-btn" id="<%= category.id %>"><%=category.name%></button>
    </div>
  </div>

  <%=render partial: 'show_listing', locals: {category: category} %>


</section>
<%end%>

<br>
