     <form class="navbar-form navbar-left" role="search" method="GET" action="/search">
        <div class="form-group">
          <input type="text" name = "keyword" class="form-control" placeholder="Search for Listings">
       <button type="submit" class="btn btn-default">Submit</button>
       </div>
     <li class="search"><a
       <a href="/advanced_searches/new">Advanced Search</a></li>
     </form>
