<%= form_for AdvancedSearch.new, html:{class: "form-horizontal", id: "search-form", role:"form"} do |f| %>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
